<p>
  <mat-toolbar style="background:#376acc61 !important">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Matemáticas discretas</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="row" style="padding: 22px 52px 77px 52px">
  <div class="content">
    <div style="text-align: center">
      <h1>CALCULADORA DE MATRICES</h1>
    </div>
    <p>Ingrese el tamaño de la matriz</p>
    <div>
      <form
        [formGroup]="formRegister"
        class="container"
        fxLayout="column"
        fxLayout.xs="column"
        fxLayoutAlign="center"
      >
        <div>
          <mat-form-field>
            <input
              matInput
              type="number"
              formControlName="numMatriz"
              placeholder="Tamaño"
              [ngClass]="{
                'is-invalid': formRegister.controls.numMatriz.errors
              }"
            />
          </mat-form-field>
          <div
            *ngIf="formRegister.controls.numMatriz.errors"
            class="invalid-feedback"
          >
            <div *ngIf="formRegister.controls.numMatriz.errors">
              <p style="font-size: 0.8em; color: red">
                <b>campo requerido</b>
              </p>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxLayoutAlign="center center">
          <button fxFlex="30%" (click)="generateTable(true)">
            Generar <mat-icon aria-hidden="false">save</mat-icon>
          </button>
          <button fxFlex="30%" (click)="generateTable(true, true)">
            Generar random<mat-icon aria-hidden="false">save</mat-icon>
          </button>
        </div>
      </form>
      <br />
      <!-- <div fxLayout="row" fxLayoutAlign="center center">
        <button (click)="generateTable(true)">
          Generar <mat-icon aria-hidden="false">save</mat-icon>
        </button>
      </div> -->
      <div
        style="display: inline-table !important"
        *ngIf="numberMatriz != 0 && numberMatriz"
      >
        <table>
          <tr *ngFor="let item of matrizCreate; let i = index">
            <td *ngFor="let it of item">
              <input
                (click)="changeState($event)"
                type="checkbox"
                placeholder="{{ it.id }}"
                id="{{ it.id }}"
              />
            </td>
          </tr>
        </table>
        <br />
        <div *ngIf="typeMatriz">
          <strong><label>Resultados:</label></strong>
          <div *ngIf="typeMatriz.reflexiva"><li>Reflexiva</li></div>
          <div *ngIf="typeMatriz.antireflexiva"><li>Antireflexiva</li></div>
          <div *ngIf="typeMatriz.simetrica">Simetrica</div>
          <div *ngIf="typeMatriz.asimetrica">Asimetrica</div>
          <div *ngIf="typeMatriz.transitiva">Transitiva</div>
        </div>
        <br />
        <div>
          <button (click)="cleanData()">
            Limpiar <mat-icon aria-hidden="false">clear</mat-icon>
          </button>
          <button (click)="calculateType()">
            Calcular <mat-icon aria-hidden="false">favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">
  © 2021 Copyright:
  <a href="https://www.ecci.edu.co/es/Bogota/inicio">Universidad ECCI</a>
</div>
