<!--
// Copyright (C) 2020
// developer = Sebastian Abella Rocha
-->
<!-- Content box -->
<div >
    <!-- Error icon -->
    <span ></span>
    <!-- End -->
    <!-- Welcome message -->
    <h2 >
        Página no encontrada 404 
    </h2>
    <h4> 
    	Lo sentimos, esta página no se encuentra disponible.
    </h4>
    <!-- End -->
</div>
<!-- End -->
